/* căn chỉnh lề */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* tạo bảng màu lưu vào biến */
:root {
  --boder-color: rgb(128, 128, 128, 0.3);
  --text-color: blue;
  --background-color: aliceblue;
}

.main {
  height: 600px;
  margin: 20px;
  display: grid;
  grid-template-columns: 45% 25% 27%;
  border: 1px solid black;
  gap: 10px;
  background-color: var(--text-color);
}
/* Xây dựng phần Goals */
.goals {
  background-color: var(--background-color);
  border: 1px solid black;
  margin: 10px;
}
.goal-1,
.goal-2,
.goal-3 {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  border-bottom: 1px solid var(--boder-color);
  gap: 10px;
  margin-top: 5px;
}
.goals-h3 {
  border-bottom: 1px solid var(--boder-color);
  padding: 20px;
  color: var(--text-color);
}
.goal-1 p,
.goal-2 p,
.goal-3 p {
  grid-column: 2;
  width: 98%;
}

.icon-flag {
  text-align: center;
  grid-row: 1 / 3;
  font-size: 20px;
}
/* Xây dựng phần Team */
.team {
  background-color: var(--background-color);
  margin: 10px;
  border: 1px solid black;
}
.team-0 {
  border-bottom: 1px solid var(--boder-color);
  padding: 20px;
  color: var(--text-color);
}
.team-1,
.team-2,
.team-3,
.team-4 {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  border-bottom: 1px solid var(--boder-color);
  gap: 10px;
  margin-top: 5px;
}
.team-1 p,
.team-2 p,
.team-3 p,
.team-4 p {
  grid-column: 2;
}
.icon-person {
  text-align: center;
  font-size: 20px;
  grid-row: 1 / 3;
}
/* Xây dựng phần time line */
.timeline {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--background-color);
  margin: 10px;
  border: 1px solid black;
}
.time-0 {
  border-bottom: 1px solid var(--boder-color);
  padding: 20px;
  color: var(--text-color);
}
.time-1,
.time-2,
.time-3,
.time-4,
.time-5,
.time-6,
.time-7 {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  border-bottom: 1px solid var(--boder-color);
  gap: 10px;
  margin-top: 5px;
}
.time-1 p,
.time-2 p,
.time-3 p,
.time-4 p,
.time-5 p,
.time-6 p,
.time-7 p,
.time-8 p {
  grid-column: 2;
}
.icon-number {
  grid-row: 1 / 3;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: olive;
  border: 1px solid black;
  border-radius: 50px;
  width: 40px;
  padding: 10px 4px;
  margin-left: 15px;
}

/* Xây dựng phần scopes */
.scopes {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  background-color: var(--background-color);
  margin: 10px;
  border: 1px solid black;
}
.scope-0 {
  grid-column: 1/-1;
  border-bottom: 1px solid var(--boder-color);
  padding: 10px;
  color: var(--text-color);
}
.scope-1,
.scope-2 {
  padding: 10px;
}
.scope-1 h3,
.scope-2 h3 {
  margin: 10px;
}
.scope-1 p {
  margin-left: 5px;
}
/* Xây dựng phần primary */

.primary {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--background-color);
  margin: 10px;
  border: 1px solid black;
}
.primary-0 {
  border-bottom: 1px solid var(--boder-color);
  padding: 10px;
  color: var(--text-color);
}
.primary-1 {
  display: flex;
}
.primary-2 {
  display: flex;
}
